<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button class="btn btn-primary"
         [disabled]='deshabilitar'
         (click)='agregarPersona()' >
        Agregar Persona
      </button>
      <p>{{ mensaje }}</p>

      <label>Titulo Persona</label>
      <input type="text" class="form-control"
           (input)='modificarTitulo($event)'>
      {{ titulo }}

      <label>Titulo Persona 2</label>
      <input type="text" class="form-control"
       [(ngModel)]="titulo">
      <b> {{ titulo }} </b>

      <app-persona></app-persona>
    </div>
  </div>
</div>


